 .sidebar {
    position: fixed;
    top: 0;                 /* KUNCI UTAMA */
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #212529;
    z-index: 1000;
}
.main-content {
    margin-left: 260px;     /* selebar sidebar */
    min-height: 100vh;
}

   /* Warna ungu Dashboard */
.bg-primary {
        background-color: #724bff !important;
    }

    /* Padding untuk area header */
.pt-10 {
        padding-top: 5rem !important;
    }
.pb-21 {
        padding-bottom: 12rem !important;
    }

    /* Margin negatif untuk menaikkan card ke atas area ungu */
.mt-n22 {
        margin-top: -11rem !important;
    }

    /* Styling icon shape */
.icon-shape {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.bg-light-primary {
        background-color: #e7e4ff !important;
    }
.text-primary {
        color: #624bff !important;
    }

.collapse {
    transition: height 0.25s ease;
}

